.main {
  max-width: 880px;
  margin: 0 auto;
}

@media (max-width: 890px) {
  .main {
    width: 90%;
    margin: 0 auto;
  }
}

@media (max-width: 675px) {
  .main {
    width: 90%;
    margin: 0 auto;
  }
}
